.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 20px;
}
.caixa{
    background-color: black;
    }
.titulo{
color: white!important;
font-weight: "bold"!important;
}
.botao{
    border-color: white!important;
    background-color:black;
    color:white!important;
}
.postagens{
    background: linear-gradient(90deg, #080808 0%, #d7970c 35%, #010e10 100%)!important;
}
.text-decoration-none{
    text-decoration: none;
}